@model TravelBlog.ViewModels.ExperiencePeopleModel
@{
    ViewData["Title"] = "Person - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create a Person</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    @Html.HiddenFor(model => model.ExperienceId)

    <input type="submit" value="Create" />
}
