@model TravelBlog.ViewModels.ExperienceListModel

@{
    ViewData["Title"] = "Experiences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Experiences in @Model.Location.Name</h1>
@foreach (var experience in Model.Experiences)
{
    
    <p>@experience.Title</p>
    <p>@Html.ActionLink("Edit", "Edit", new { id = experience.Id }) |
	   @Html.ActionLink("View People", "Index", "Person", new { id = experience.Id }) |
       @Html.ActionLink("Add Person", "AddPerson", new { id = Model.Location.Id}) |
	   @Html.ActionLink("Details", "Details", new {id = experience.Id}) |
       @Html.ActionLink("Delete", "Delete", new { id = experience.Id })</p>
}

<p>@Html.ActionLink("Back Home", "Index", "Location", new { id = Model.Location.Id})</p>